# import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# read dataset

In [2]:
dfs = pd.read_csv('dataset.csv')

# analyse data

In [3]:
print("\nnumber of samples : " , dfs.count().max())
print(dfs.columns)

number of samples :  10500
Index(['Std_id', 'Reference', 'Analysis', 'Design', 'Coding', 'github',
       'Testing', 'Results', 'Report', 'Presentation', 'Proposal',
       'NumOfMeetings', 'Evaluation'],
      dtype='object')

In [4]:
dfs.head()

,Std_id,Reference,Analysis,Design,Coding,github,Testing,Results,Report,Presentation,Proposal,NumOfMeetings,Evaluation
0,1,44,50,1,57,67,81,43,60,97,67,9,NaN
1,2,22,38,2,24,45,9,65,17,8,5,3,NaN
2,3,17,35,0,50,59,19,31,12,27,12,1,NaN
3,4,17,98,61,9,8,4,0,21,63,63,1,NaN
4,5,8,9,10,7,59,42,23,6,49,83,8,NaN

# preprocessing

In [5]:
print("The number of NumOfMeetings is 0 : " , dfs['NumOfMeetings'][dfs['NumOfMeetings'] == 0].count())

The number of NumOfMeetings is 0 :  587

In [6]:
dfs.drop(dfs[dfs['NumOfMeetings'] == 0].index, inplace=True)
print("The number of NumOfMeetings is 0 : " , dfs['Std_id'][dfs['NumOfMeetings'] == 0].count())

The number of NumOfMeetings is 0 :  0

In [7]:
dfs = dfs.drop(['Std_id'], axis=1)

#### imputation missing

In [8]:
print("Number of Nan in dataframe : \n" , dfs.isna().sum())

Number of Nan in dataframe :
 Reference           0
Analysis            0
Design              0
Coding              0
github              0
Testing             0
Results             0
Report              0
Presentation        0
Proposal            0
NumOfMeetings       0
Evaluation       9913
dtype: int64

#### Scaling

In [9]:
dfs.describe().loc[['min', 'max']]

,Reference,Analysis,Design,Coding,github,Testing,Results,Report,Presentation,Proposal,NumOfMeetings,Evaluation
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN
max,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,10.0,NaN

In [10]:
dfs['NumOfMeetings'] = dfs['NumOfMeetings']*10
dfs.describe().loc[['min', 'max']]

,Reference,Analysis,Design,Coding,github,Testing,Results,Report,Presentation,Proposal,NumOfMeetings,Evaluation
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,NaN
max,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN

In [11]:
dfs.head()

,Reference,Analysis,Design,Coding,github,Testing,Results,Report,Presentation,Proposal,NumOfMeetings,Evaluation
0,44,50,1,57,67,81,43,60,97,67,90,NaN
1,22,38,2,24,45,9,65,17,8,5,30,NaN
2,17,35,0,50,59,19,31,12,27,12,10,NaN
3,17,98,61,9,8,4,0,21,63,63,10,NaN
4,8,9,10,7,59,42,23,6,49,83,80,NaN

In [12]:
# identify the duplicated rows based on all columns
dups = dfs.duplicated()

# count the number of duplicated rows
dup_count = dups.sum()

print("Number of duplicated rows: ", dup_count)

Number of duplicated rows:  0

In [13]:
dfs.drop_duplicates(inplace=True)

In [14]:
print("\nnumber of samples : " , dfs.count().max())

number of samples :  9913

### save dataset as xlsx

In [15]:
# determining the name of the file
file_name = 'new_dataset.xlsx'
 
# saving the excel
dfs.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.