### genertae dataset and save it in datafrmae in excel file

In [8]:
import pandas as pd
import numpy as np
import random

In [9]:
# Define the dimensions of the dataset
num_rows = 2500
num_features = 12
min_values_per_feature = 5
max_values_per_feature = 16
columns=["فكرة المشروع" , "دراسة مرجعية" , "دراسة تحليلية" , "تصميم" , "برمجة" , "إدارة" , "GITHUB" , "اختبارات" , "النتائج" , "القيمة المضافة" , "التقرير" , "العرض"]

In [10]:
dataset1 = []
num_rows1=650

for i in range(num_rows1):
    row = []
    for j in range(num_features):
        if (j == 0):
            values = random.choice([6, 8])
        elif (j == 3) or (j == 4) :
            values = random.randint(5, 10)
        else:
            values = random.randint(4, 8)
        row.append(values)
    dataset1.append(row)

In [11]:
dataset2 = []
num_rows2=650

for i in range(num_rows2):
    row = []
    for j in range(num_features):
        if (j == 0):
            values = random.choice([6, 8])
        elif (j == 3) or (j == 4) :
            values = random.randint(0, 5)
        else:
            values = random.randint(0, 4)
        row.append(values)
    dataset2.append(row)

In [12]:
dataset3 = []
num_rows3=1200

for i in range(num_rows3):
    row = []
    for j in range(num_features):
        if (j == 0):
            values = random.choice([6, 8])
        elif (j == 3) or (j == 4) :
            values = random.randint(0, 10)
        else:
            values = random.randint(0, 8)
        row.append(values)
    dataset3.append(row)

In [13]:
dataset= dataset1 + dataset2 + dataset3

In [14]:
df = pd.DataFrame(dataset, columns=columns)
df

,فكرة المشروع,دراسة مرجعية,دراسة تحليلية,تصميم,برمجة,إدارة,GITHUB,اختبارات,النتائج,القيمة المضافة,التقرير,العرض
0,6,4,5,9,8,4,5,7,6,7,4,6
1,8,4,4,10,7,7,8,5,8,5,7,8
2,8,6,7,10,8,4,5,8,5,8,4,7
3,6,5,4,10,9,5,6,7,5,6,4,6
4,8,4,7,6,8,6,7,4,5,4,4,6
...,...,...,...,...,...,...,...,...,...,...,...,...
2495,6,1,3,7,6,0,8,4,0,7,5,8
2496,6,0,6,2,2,8,0,4,1,5,5,5
2497,6,4,8,9,10,1,0,3,1,2,4,2
2498,6,5,8,1,1,3,8,5,1,1,5,7
2499,6,3,6,4,0,8,0,3,4,3,6,1

In [15]:
df.describe()

,فكرة المشروع,دراسة مرجعية,دراسة تحليلية,تصميم,برمجة,إدارة,GITHUB,اختبارات,النتائج,القيمة المضافة,التقرير,العرض
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,6.997600,4.009600,3.945600,4.986800,4.994800,3.994800,3.947200,4.008800,4.008800,3.978400,3.945200,3.958800
std,1.000197,2.500242,2.536694,3.088955,3.115422,2.516447,2.501143,2.494957,2.470944,2.496483,2.495253,2.557444
min,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
50%,6.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,8.000000,6.000000,6.000000,8.000000,8.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
max,8.000000,8.000000,8.000000,10.000000,10.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000

In [16]:
# save data en excel file
df.to_excel('data_for_classification.xlsx', index=False)